html {
  scroll-behavior: smooth;
}

#section1 {
  height: 600px;
}

#section2 {
  height: 600px;
}

.titleIndex {
    color: #DAA520;
    text-shadow:-4px 4px blue;
    font-weight:400;
    font-size: 140px;
    font-family: recursive, helvetica, sans-serif;
    position: relative
    outline: none;
    text-align: center;
}

a:link {
    color: #DAA520;
  text-decoration: none;
}
a:visited {
    color: #DAA520;
  text-decoration: none;
}
a:hover {
    color: #DAA520;
  text-decoration: none;
}
a:active {
    color: #DAA520;
  text-decoration: none;
}


.drawingIndex{
    text-align: center;
}
.drawingIndex img{
    text-align: center;
    width: 55%;
    height: auto;
}
