@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

html {
scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}
html, body {
  height: 100%;
}
body{
    color: black;
  font-family: recursive, Helvetica, Arial, sans-serif;
  margin: 0;
}
h1 {
  margin: 0;
  padding: 0;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  min-height: 100%;
  height: 100vh;
}
.Quick-navigation {
  position: fixed;
  top: 30%;
  left: 2%;
  margin: -5px;
  padding-bottom: -5px;
  transform: translateY(-50%);
}
.Quick-navigation-item {
    font-size:12px;
    font-weight: normal;
    color: #F8F8F8;
    text-decoration: none;
    transition color: 0.5s;
    padding: 2px;
    display: block;
}
.Quick-navigation-item:hover{
    color: black;
}
.Quick-navigation-item.current{
  color: black;
}
.homeTitleMaybe{
    color: black;
    font-weight:400;
    font-size: 60px;
    display: flex;
    justify-content: left;
    align-items: left;
}
.homeTitleX{
    color: rgba(0, 0, 0, 0.5);
    font-weight:400;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeTitleGU{
    color: rgba(0, 0, 0, 0.5);
    font-weight:400;
    font-size: 30px;
    display: flex;
    justify-content: right;
    align-items: right;
    z-index: 50%;
}
#HOME {
}
#ABOUT {
}
  #ARTWORK {
    display: block;
margin-left: auto;
margin-right: auto;
width: 35%;
}
#SHOP{
}
#CONTACT{
}


  /* CSS for screens that are 320 pixels or less will be put in this section */
@media screen and (min-width:320px) and (max-width:640px) {
    display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}
